header{    
    width: 90%;
    margin: 15px auto 0;
    text-align: center;
}
.gnb{
    display: block;
    font-size: 0;
}
.gnb li{
    display: inline-block;
    width: 10%;
    font-size: 18px;
    color: #000;
    vertical-align: middle;
}
